<section
    class="relative w-full min-h-[100vh] flex flex-col items-center justify-center text-center px-6 lg:px-16 py-16 md:py-32">
    <div class="absolute inset-0 bg-cover bg-center"
        style="background-image: url('https://plus.unsplash.com/premium_photo-1695762436987-1cf827e5f1dd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fGJ1cmdlcmFpfGVufDB8MHwwfHx8MA%3D%3D');">
    </div>
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative z-10 text-white max-w-2xl">
        <h1 class="text-4xl md:text-6xl font-bold leading-tight" 
        data-aos="fade-down">
            Welcome to Our Platform
        </h1>
        <p class="mt-4 text-lg md:text-xl"
        data-aos="fade-right" data-aos-delay="200"
        >
            Discover amazing features and join us today.
        </p>
        <div class="mt-6">
            <a href="#"
                data-aos="fade-up" data-aos-delay="400"
                class="group px-6 py-3 bg-[#007bff] hover:bg-red-600 rounded-lg text-lg font-semibold transition inline-flex items-center">
                Get Your Reservation
                <i class="fa-solid fa-arrow-right ml-2 transition-transform group-hover:translate-x-1"></i>
            </a>
        </div>
    </div>
</section>


    